* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.row {
    height: 300px;
    width: 100%;
    padding: 30px 10px 60px 10px;
}

.subrow {
    height: 300px;
    width: 25%;
    border: 2px solid rgb(138, 33, 230);
    float: left;
    border-radius: 20%;
    box-shadow: 5px 5px 5px rgb(138, 64, 139);
}

h1 {
    margin: 100px 0px 0px 150px;
    font-size: 30px;
    color: rgb(231, 22, 246);
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: cursive;
    color: rgb(106, 250, 45);
}

p {
    text-align: center;
    margin-top: 50px;
    color: rgb(223, 21, 223);
    font-size: 50px;
}